.contact-form-container input, textarea{
    margin-bottom: 10px;
    font-size: 22px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 450px;
    border-radius: 5px;
    padding-left: 10px;
}

.contact-form-container input::placeholder, textarea::placeholder{
    font-size: 22px;
    color: gray;
}

