.body{
  background-color: var(--primero-darkblue);
  min-width: 700px;
  width:100%;
  
}
#root{ 
  width:100%;
  background-color: var(--primero-darkblue);
  

}

/* font software - eras medium */
/* font primero - touka maru gothic */